[color]
	ui = true
[user]
	email = marcobaldelli@users.noreply.github.com
	name = Marco Baldelli
[diff]
	tool = vimdiff
[core]
	editor = vim
[alias]
	ca = commit -a --verbose
	lg = log --oneline --graph --all
[credential]
	helper = cache --timeout=86400
