[color]
	ui = true
[user]
	email = marcobaldelli@users.noreply.github.com
	name = Marco Baldelli
[diff]
	tool = vimdiff
[core]
	editor = vim
[alias]
	c = commit --verbose
	ca = c -a
	lg = log --oneline --graph --all
[credential]
	helper = cache --timeout=86400

[includeIf "gitdir/i:**esprinet**"]
	path = ~/Esprinet/.gitconfig
[merge]
	tool = vimdiff
